.addUser {
background-color: white;
width: 25%;
margin: 50px auto ;
padding: 40px;
border-radius: 5px;
box-shadow: 0px 0px 05px 0px rgba(0,0,0,0.65);

}

.addUserForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.addUserForm .inputGroup label {
    margin-top: 5px;
}
.addUserForm .inputGroup input {
    margin-bottom: 5px;
    padding: 10px; ;
}
.addUser .inputGroup button{
    margin-top: 10px;
}
.addUserForm h3 {
    margin-top: 30px;
    text-align: center;
    font-weight: bold; 
    color: darkcyan;
}
.addUser .backBtn {
    margin-bottom: 10px;
}